.App {
  text-align: center;
  z-index: 10;
}

.guess {
  width: 3em;
}
/* div[class*="col"] {
  border: 1px solid #ff00ff;
} */

.row {
  height: 3em;
}

.container {
  background-image: url('https://implodingduck.github.io/hexnumble/hexagon.svg')
}