.App {
  text-align: center;
  background-color: #515151;
  color: #fcfcfc;
}

.guess {
  width: 3em;
}
/* div[class*="col"] {
  border: 1px solid #ff00ff;
} */

.row {
  height: 3em;
}

html body {
  background-color: #515151;
  color: #fcfcfc;
}
div.modal-content p {
  color: #333333;
}
/* .container {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjIwJSI+CiAgPHBhdGggZmlsbD0icmdiKDI1NSwgMCwgMjU1KSIgIGQ9Ik0yNSw3IEw3NSw3IDkzLDUwIDc1LDkzIDI1LDkzIDcsNTB6IiAvPgo8L3N2Zz4=");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
